server {
    listen 80;
    server_name __REDIRECT_DOMAIN__;

    return 301 https://__PRIMARY_DOMAIN__$request_uri;
}

server {
    listen 80;
    server_name __PRIMARY_DOMAIN__;

    location / {
        proxy_pass http://127.0.0.1:8080;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
